.especialidades{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body{
    align-items: center;
    text-align: center;
    margin: 0 auto;
} */

/* IMAGENES */
#medida{
    width: 970px; 
    height: 360px;
}
.center-img{
    margin: 0 auto;
}

/* Cuadro "Menu Principal" */
/* .izquierda{
    margin-top: 1%;
    margin-left: 16%;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}
.block-izq{
    width: 99.9999%;
    height: 30px;
    background-color: skyblue;
}
.tam-letras{
    text-align: left;
    font-size: small;
    margin-top: 15px;
    
} */

/* .centro{
    margin-top: 1%;
    margin-left: 110%;
    width: 500px;
    height: 300px;
    background-color: white;
}

.derecha{
    margin-top: 1%;
    margin-left: 104%;
    width: 200px;
    height: 300px;
    background-color: white;
} */